<div class="container"
	fxLayout="column"
	fxLayoutGap="10px" >

	<div fxFlex>
		<div>
			<h3>Menu</h3>
			<hr>
		</div>
	</div>
	
	<!--*ngIf- show this div only if dishes is not undefined or a null object -->
	<div fxFlex *ngIf="dishes" [@expand]>
		<md-grid-list cols="2" rowHeight="200px">
			<!-- *ngFor allows to iterate over an array of items. Dishes is an array of dish object here -->
			<md-grid-tile *ngFor="let dish of dishes" [routerLink] = "['/dishdetail', dish.id]" appHighlight>
				<img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
				<md-grid-tile-footer>
					<h1 md-line>{{dish.name | uppercase}}</h1>
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>

	<!--show this div when above div is not available or when dishes and errMess is not null -->
	<div [hidden]="dishes || errMess">
		<!--md-spinner is a progress indicator -->
		<md-spinner></md-spinner>
		<h4>Loading...Please wait..</h4>
	</div>

	<!-- If there is errMess or if errMess is not null -->
	<div *ngIf="errMess">
		<h2>Error</h2>
		<h4>{{errMess}}</h4>
	</div>


</div>