<div class="container"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.gt-md="sapce-around center"
	fxLayoutGap="10px"
	fxLayoutGap.xs="0" >

	<!-- dish detail card -->
	<div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
		<md-card>
			<md-card-header>
				<md-card-title>
					<h3>{{ dish.name | uppercase }}</h3>
				</md-card-title>
			</md-card-header>

			<img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>

			<md-card-content>
				<p> {{ dish.description}}</p>
			</md-card-content>

			<md-card-actions>
				<button md-button [routerLink] = "['/dishdetail', prev]">
					<span class="fa fa-chevron-left fa-lg"></span>
				</button>
				<button md-button (click) = "goBack()">BACK</button>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
				<span class="flex-spacer"></span>
				<button md-button [routerLink] = "['/dishdetail', next]">
					<span class="fa fa-chevron-right fa-lg"></span>
				</button>
			</md-card-actions>
		</md-card>
	</div>

	<!-- Dish comments list -->
	<div fxFlex="40"  *ngIf="dish" [@visibility] = "visibility" [@expand]>
		<md-list>
			<h3>Comments</h3>
			<md-list-item *ngFor="let comment of dish.comments">
				<h4 md-line> {{comment.comment}} </h4>
				<p md-line>	{{comment.rating}} Stars </p>
				<p md-line>
					<span> -- {{comment.author}} {{comment.date | date}}</span>
				</p>
			</md-list-item>
		</md-list>

		<md-list>
			<md-list-item *ngIf = "commentForm.valid">
				<h4 md-line> {{commentForm.value.comment}} </h4>
				<p md-line>	{{commentForm.value.rating}} Stars </p>
				<p md-line>
					<span> -- {{commentForm.value.author}}</span>
				</p>
			</md-list-item>
		</md-list>

		<div>
			<form novalidate [formGroup]="commentForm" (ngSubmit) = "onSubmit()">
				<md-input-container class="full-width" dividerColor = "{{ commentFormErrors.author ? 'warn' : 'primary'}}">
					<input mdInput type="text" formControlName="author" placeholder="Name" required>
					<md-hint>
						<span [hidden] = "!(commentFormErrors.author)">
							{{commentFormErrors.author}}
						</span>
					</md-hint>
				</md-input-container>
				
				<md-slider thumbLabel tickInterval="1" min="1" max="5" step="1" class="full-width" formControlName = "rating"></md-slider>
				
				<md-input-container class="full-width" dividerColor = "{{ commentFormErrors.comment ? 'warn' : 'primary'}}">
					<textarea mdInput type="text" formControlName="comment" placeholder="Your Comment" rows="5" required></textarea>
					<md-hint>
						<span [hidden] = "!(commentFormErrors.comment)">
							{{commentFormErrors.comment}}
						</span>
					</md-hint>
				</md-input-container>

				<button type="submit" mdButton class="background-primary text-floral-white" [disabled] = "commentForm.invalid">Submit</button>
			</form>
		</div>
	</div>
	<!--show this div when above div is not available -->
    <div [hidden]="dish || errMess">
    	<!--md-spinner is a progress indicator -->
    	<md-spinner></md-spinner>
        <h4>Loading...Please wait..</h4>
    </div>

    <div *ngIf = "errMess">
    	<h2>Error</h2>
    	<h4>{{errMess}}</h4>
    </div>
</div>