<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

	<!--*ngIf- show this div only if featured list is not undefined or a null object -->
	<md-card *ngIf="featuredDish" fxFlex [@expand]>
	  	<md-card-header>
	    	<div md-card-avatar></div>
	    	<md-card-title>
	      		<h3>{{featuredDish.name | uppercase}}</h3>
	    	</md-card-title>
	  	</md-card-header>
	  	<img md-card-image src="{{BaseURL + featuredDish.image}}" alt={{featuredDish.name}}>
	  	<md-card-content>
	    	<p>{{featuredDish.description}}</p>
	  	</md-card-content>
	</md-card>
	<!--show this div when above div is not available -->
    <div [hidden]="featuredDish || dishErrMess">
    	<!--md-spinner is a progress indicator -->
    	<md-spinner></md-spinner>
        <h4>Loading...Please wait..</h4>
    </div>

    <div *ngIf = dishErrMess>
    	<h2>Error</h2>
    	<h4>{{dishErrMess}}</h4>
    </div>

	<md-card *ngIf="featuredPromotion" fxFlex [@expand]>
	  	<md-card-header>
	    	<div md-card-avatar></div>
	    	<md-card-title>
	      	<h3>{{featuredPromotion.name | uppercase}}</h3>
	    	</md-card-title>
	  	</md-card-header>
	  	<img md-card-image src="{{BaseURL + featuredPromotion.image}}" alt={{featuredPromotion.name}}>
	  	<md-card-content>
	    	<p>{{featuredPromotion.description}}</p>
	  	</md-card-content>
	</md-card>
	<!--show this div when above div is not available -->
    <div [hidden]="featuredPromotion || promotionErrMess">
    	<!--md-spinner is a progress indicator -->
    	<md-spinner></md-spinner>
        <h4>Loading...Please wait..</h4>
    </div>

    <div *ngIf = promotionErrMess>
    	<h2>Error</h2>
    	<h4>{{promotionErrMess}}</h4>
    </div>

	<md-card *ngIf = "featuredLeader" fxFlex [@expand]>
		<md-card-header>
			<div md-card-avatar></div>
			<md-card-title>
				<h3>{{featuredLeader.name | uppercase}}</h3>
			</md-card-title>
		</md-card-header>

		<img md-card-image src="{{BaseURL + featuredLeader.image}}" alt="{{featuredLeader.name}}">
	
		<md-card-content>
			<p>{{featuredLeader.designation}}</p>
			<p>{{featuredLeader.description}}</p>
		</md-card-content>
	</md-card>

	<!--show this div when above div is not available -->
    <div [hidden]="featuredLeader">
    	<!--md-spinner is a progress indicator -->
    	<md-spinner></md-spinner>
        <h4>Loading...Please wait..</h4>
    </div>

</div>